* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
}

h1 {
    color: rgb(15, 22, 216);
    font-size: 4rem;
    font-family: sans-serif;
    text-align: center;
    line-height: 100vh;
}

span {
    opacity: 0;
    transition: all 0.8 ease;
}

span.fade {
    opacity: 1;
}