* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
}

h1 {
    color: rgb(15, 22, 216);
    font-size: 4rem;
    font-family: sans-serif;
    text-align: center;
    line-height: 100vh;
}

span {
    opacity: 0;
    transition: all 0.8 ease;
}

span.fade {
    opacity: 1;
}

.navigationBar {
    overflow: hidden;
    background-color: rgb(15, 22, 216);

}

.navigationBar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: sans-serif;

}

.navigationBar a:hover {
    background-color: aqua;
    color: black;

}

.navigationBar a.contact {
    float: right;
    background-color: rgb(15, 22, 216);
}